
body{
    margin: 0px;
    padding: 0px;
}
html {
    /* font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif; */
    font-family:Lato;
  }
  
  @font-face {
    font-family:"Lato";
    src: url("./ukaszDziedzic-Lato-Light.ttf") format("truetype");
  }
:root{
    --maincolor:#047aed;
    --white:#FFFFFF;
    --textcolor:#333333;
}
.w-color{
    color: var(--white);
}
.flex-1{
    flex: 1;
}
.allCenter{
    /* display: block; */
    align-items: center;
    display: flex;
    justify-content: center;
}
.topdiv{
    display: flex;
}
.rightdiv{
    background-color: var(--maincolor);
    width: 100%;
    height: 370px;
    margin: 0px;
    padding: 0px;
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 105%);
    
}


.logoText{
    
    color: var(--white);
    font-size: 32px;
}
.dropdowns>a{
    font-size: 16px;
    color: var(--white);
   
}

.topbar{
    display: flex;
    justify-content: space-between;
    width: 71%;
    margin-left: 14%;
}

.logoName{
    margin: 10px;
    margin-left: 50px;
}


.dropdowns{
    margin: 22px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.rightBtn>div{
    width: 148px;
    /* margin: 25px; */
    height: 50px;
    border: 1px solid #FFFFFF;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}


.rightTextDiv{
    margin-left: 17%;
    margin-top: 56px;
}
.rightText1{
    font-size: 40px;
   margin-bottom: 30px;
    
}
.rightText2{
    font-size: 16px;
    margin-bottom: 25px;
}


.loginCard{
    width: 400px;
    height: 315px;
    /* position: absolute; */
    background-color: #FFFFFF;
    /* position: relative; */
    top: 100px;
    left: 58%;
    z-index: 100;
    border-radius: 9px;
    position: absolute;
    box-shadow: 61px;
    box-shadow: 5px 10px none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.cardheader{
    margin: 20px;
   
}
.cardheader >span{
  
        color: var(--textcolor);
        font-size:24px;
    

}
.cardinputs{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cardinputs >input{
    border: none;
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 30px;
    font-size: 16px;
    outline: none;
}

.cardButton{
    margin: 8px;
    margin-left: 25px;
 
    
}
.cardButton >input{
   
        width: 91px;
    height: 36px;
    background-color: #047aed;
    color: #FFFFFF;
   
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.middlediv2{
    width: 100%;
    margin-top: 104px;
    text-align: -webkit-center;
}
.middletext >p{
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
.middleicons{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 50%;
    margin-top:60px;
}
.middleicons1,.middleicons2,.middleicons3 {
    flex: 1;
}
.middleicons1 >h3,.middleicons2 >h3,.middleicons3 >h3 {
   font-size: 35px;
   color: var(--textcolor);

}
.middleicons1 >p,.middleicons2 >p,.middleicons3 >p {
    font-size:20px;
    color: var(--textcolor);
 
 }

 .middlediv3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .middlediv3buttons >div{
    width: 306px;
    height: 69px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
 .middlediv3buttons{
        display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .middlediv3buttons >div >p{
   font-size: 18px;
   font-weight: 700;
   color: var(--textcolor);
}

.middlediv4{
    width: 100%;
    height: 342px;
    background-color: var(--maincolor);

}
.middlediv4Text>h3{
    font-size: 48px;
    color: var(--white);
    margin: 20px !important;
}
.middlediv4Text>p{
    font-size: 20px;
    color: var(--white);
}

.middlediv4Text>div >p{
    width: 131px;
    height: 45px;
   
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: var(--white);
    background-color: #002240;
}

.middlediv5{
    width: 100%;
    height: 350px;
   background-color: var(--white);
 
    flex-direction: column;
    justify-content: space-around;
}
.langcards >div{
    width: 134px;
    height: 168px;
  margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    display: block;
    align-items: center;
    display: flex;
    justify-content: center;
}
.langcards{
    display: flex;
   
    justify-content: space-between;
}
.langcards>div>span{
    font-size: 20px;
    font-weight: 700;
    margin: 13px;
}
.langcards>div:hover {
    transform: translateY(-15px);
}

.supportText{
    font-size: 32px;
    color: var(--textcolor);
}

.middlediv6{
    /* width: 100%; */
    height: 70px;
    padding: 64px;
    background-color: #002240;
}

.middlediv7{
    height: 200px;
    background-color: #FFFFFF   ;
}
.middlediv6>div{
    width: 70%;
    margin: auto;
}
.middlediv6Text1 >span {
    font-size: 32px;
    color: var(--white);
    font-weight: 300;
}

.middlediv6Text1 >p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

.middlediv6Text2 >span{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

.middlediv6Text2{
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: space-evenly;
}

.middlediv6Text3{
    display: flex;
    justify-content: space-evenly;
}

.middlediv6Text3 >a{
    color: var(--white) !important;
}